{% extends 'base.html' %}

{% block title %}Category Page
{% endblock %}

{% block content %}
<div style="padding: 40px;">
<div class="row">
    <div class="col-sm-4">
        <div class="card" style="width: 24rem; height: 100%;">
            {% load static %}
            <img src="{% static 'img/integration.png' %}" class="card-img-top" style="width: 23rem; height: auto; padding: 20px;" alt="...">
            <div class="card-body">
                <h5 class="card-title">대용량 데이터 통합(Spark)</h5>
                <p class="card-text">csv 파일로 저장된 대용량 데이터 파일을 행, 열 기준으로 통합합니다.</p>
                <a href="#" class="btn btn-primary" >통합하기</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card" style="width: 24rem; height: 100%;">
            <img src="{% static 'img/division.png' %}" class="card-img-top" style="width: 23rem; height: auto; padding: 20px;"  alt="...">
            <div class="card-body">
                <h5 class="card-title">대용량 데이터 분할(Spark)</h5>
                <p class="card-text">csv 파일로 저장된 대용량 데이터 파일을 행, 열 기준으로 분할합니다.</p>
                <a href="#" class="btn btn-primary">분할하기</a>
            </div>
        </div>
    </div>
    </div>
</div>


{% endblock %}