{% extends 'base.html' %}
{% load static %}


{% block title %}Upload Page
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}

{% block content %}
<div onload="init()">
  <label for="formFileLg" class="form-label">CSV 파일 추가</label>
  <input class="form-control form-control-lg" id="formFileLg" type="file" accept=".csv"/>
  <a class="btn btn-primary" href="{% url 'category:loading' %}" role="button">등록하기</a>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script><script type="text/javascript" src="{% static 'upload/csvtojson.js' %}"></script>
<script type="text/javascript" src="{% static '/upload/csvtojson.js' %}"></script>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

{% endblock %}